$font-stack: 'Rubik', sans-serif;
// colors s
$but-to-top-color: rgba(245,56,56,0.8);
$section-bgcolor-1: #fff;
$section-bgcolor-2: #F0EFEB;
$section-bgcolor-3: #E5E5E5;
$section-bgcolor-4: #F8F8F8;
$header-button-color:#F53855;
$element-color: #F53838;
$element-bgcolor: #fff;
$element-border-color: #DDDDDD;
$element-star-color:#FEA250;
$element-bullet-color:#D3D4D2;
$footer-bgcolor: #F8F8F8;
$copyright-color: #AFB5C0;
$title-color: #0B132A;
$text-color: #4F5665;
$button-default-text-color: #ffffff;
$button-hover-bgcolor: $element-color;
$button-hover-text-color: $button-default-text-color;
$button-bg: transparent;
$line-color_1: #EEEFF2;
$check-mark-bg: #2FAB73;
$check-mark-color: #fff;
// colors f
// breakpoints s
$header-nav-breakpoint_1: 922px;
$data-breakpoint_1: 800px;
$data-breakpoint_2: 620px;
$features-breakpoint_1: 850px;
$plan-breakpoint_1: 1102px;
$plan-breakpoint_2: 950px;
$plan-breakpoint_3: 550px;
$map-breakpoint_1: 550px;
$sponsor-breakpoint_1: 450px;
$subscribe-breakpoint_1: 1019px;
$footer-breakpoint_1: 630px;
// breakpoints f